@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap');

body {
	background-color: #222;
	margin: 0;
	padding: 0;
	color: #ccc;
	font-family: 'Poppins', sans-serif;
	padding: 15px 30px;
}

h1 {
	font-family: 'Patua One';
}

input[type=number] {
	width: 50px;
	height: 30px;
	font-family: 'Poppins';
	font-size: 15px;
	text-align: center;
}

#checkbtn {
	width: 235px;
	height: 40px;
	background-color: #666;
	font-size: 20px;
	font-family: 'Poppins';
	border: 0;
	color: #bbb;
	transition: 0.2s ease-in-out;
}

#checkbtn:hover {
	background-color: #999;
	color: #eee;
}

.adresses {
	font-family: 'Patua One';
	font-size: 40px;
	margin-top: -10px;
	color: #fff;
}